/*
 *= require_tree .
 *= require_self
 */
@import "application.tailwind";
@import "variables";
@import "font-awesome";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div, li, input, button, span, a {
  outline:none!important;
}
body {
  color: $primary;
  //overflow: hidden;
}
/* Colors ************************************ */

// Background Colors
.bg-primary { background-color:$primary; }
.bg-purple { background-color:$purple; }
.bg-purple-dark { background-color:$purple-dark; }
.bg-secondary { background-color:$secondary; }

// Text Colors
.text-primary { color:$primary; }
.text-secondary { color:$secondary; }

// Hover
